name: Build and deploy Digital Garden
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "18"
      - run: npm install -g obsidian-digital-garden
      - run: obsidian-digital-garden publish --yes
        env:
          DIGITAL_GARDEN_TOKEN: ${{ secrets.DIGITAL_GARDEN_TOKEN }}

